body {
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-top: 60px;
}

p {
    font-size: 18px;
}

button {
    background-color: rgb(235, 71, 142);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(140, 172, 32);
}