
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f5f5f5;
}


.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #ddd;         
  border-top: 8px solid #3498db;   
  border-radius: 50%;              
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}
