.RED{
    width : 80px;
    height : 80px;
    border-radius: 50px;
    background-color: crimson;
}
.YELLOW{
    width : 80px;
    height : 80px;
    border-radius: 50px;
    background-color: green;
}
.GREEN{
    width : 80px;
    height : 80px;
    border-radius: 50px;
    background-color:yellow;
}